<app-my-nav></app-my-nav>
<app-header></app-header>
<div class="container">
  <mat-form-field>
      <mat-label>Semester</mat-label>
      <mat-select #semester placeholder="Selected Semester" (selectionChange)="getData($event)" >
          <mat-option *ngFor="let semester of semesters" [value]="semester.semester">{{semester.semester}}</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-grid-list cols="3" rowHeight="200px">
      <mat-grid-tile colspan ="1" rowspan="1" *ngFor="let data of datas">
        <a routerLink='/students/{{semestertemp}}/{{data.courseID}}/{{data.section}}'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>CourseID: {{data.courseID}}</mat-card-title>
            <mat-card-title>Course Name: {{data.courseName}}</mat-card-title>
            <mat-card-title>Section : {{data.section}}</mat-card-title>
            <mat-card-title>Teacher: {{data.teacher}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </a>
      </mat-grid-tile>
  </mat-grid-list>
</div>
<app-footer></app-footer>
