/* .mat-toolbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
} */
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  color: #fff;
  background: #3f51b5;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}
nav{
  background: #3f51b5;
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.menu-button {
  transition: 100ms ease-in-out;
  transform: rotate(0deg);
}
