table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
button{
    float: right;
}
a{
    text-decoration: none;
}
mat-card{
    width: 250px;
    height: 200px;
    border-radius: 5px;
}
img{
    border-radius: 5px;
    background-size: cover;
}
mat-card-title{
    font-size: 20px;
    text-align: center;
}