<app-my-nav></app-my-nav>
<app-header></app-header>
<div class="container">
  <mat-grid-list cols="3" rowHeight="300px" >
  <mat-grid-tile >
    <a routerLink="/VocabStatByCourse/018111">
      <mat-card>
        <img mat-card-image src="../../assets/img/galen-crout-87390-unsplash.jpg" alt="Photo by Galen Crout">
        <mat-card-title>BASIC JAPANESE I</mat-card-title>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/VocabStatByCourse/018112">
      <mat-card>
        <img mat-card-image src="../../assets/img/alain-pham-248578-unsplash.jpg" alt="Photo by Alain Pham">
        <mat-card-title>BASIC JAPANESE II</mat-card-title>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/VocabStatByCourse/018113">
      <mat-card>
        <img mat-card-image src="../../assets/img/jonathan-forage-223933-unsplash.jpg" alt="Photo by Lu Jonathan Forage">
        <mat-card-title>BASIC JAPANESE III</mat-card-title>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/VocabStatByCourse/018114">
      <mat-card>
        <img mat-card-image src="../../assets/img/juniperphoton-757583-unsplash.jpg" alt="Photo by JuniperPhoton">
        <mat-card-title>BASIC JAPANESE IV</mat-card-title>
      </mat-card>
    </a> 
  </mat-grid-tile>
</mat-grid-list>
</div>
<app-footer></app-footer>