.mat-icon {
    position: absolute;
    right: 80px;
    top: 25px; 
    font-size: 80px;
    color: rgba(255, 255, 255, 0.925) ;
  }
  .mat-card{
    font-family: 'Roboto','Prompt', sans-serif;
  }
  .mat-card-title{
    font-size: 22px;
  }
  .mat-card-subtitle{
    font-size: 22px;
    color: aliceblue;
  }
  .cardstat {
    color: aliceblue;
    height: 80%;
    width: 80%;
    background: -moz-linear-gradient(-45deg, rgb(114,13,93) 0%, rgba(255, 138, 101,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(114,13,93)), color-stop(100%, rgba(255, 138, 101,1)));
    background: -webkit-linear-gradient(-45deg, rgba(114,13,93) 0%, rgba(255, 138, 101,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(114,13,93) 0%, rgba(255, 138, 101,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(114,13,93) 0%, rgba(255, 138, 101,1) 100%);
    background: linear-gradient(135deg, rgba(114,13,93) 0%, rgba(255, 138, 101,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1 );
  }
  .cardgraph{
    height: 90%;
    width: 90%;
  }  
  .cardprogress{
    height: 80%;
    width: 80%;
  } 
  .header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
.container{
  margin-top: 90px;
}
  