<app-my-nav></app-my-nav>
<div class="container">
    <mat-grid-list cols="3" rowHeight="180px">
    <mat-grid-tile colspan ="2" rowspan="3">
        <mat-card class="cardgraph">
            <mat-card-header>
                <mat-card-title>จำนวนนักศึกษาทั้งหมดแบ่งตามรายวิชา</mat-card-title>
            </mat-card-header> 
            <mat-card-content>
                <canvas id="myChart" max-width=200 height="200"></canvas>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="cardstat">
            <mat-card-header>
                <mat-card-title>นักศึกษาใช้งานแอปพลิเคชัน</mat-card-title>
                <mat-card-subtitle>{{student}} คน</mat-card-subtitle>
            </mat-card-header> 
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan ="1" rowspan="2">
        <mat-card class="cardprogress">
            <mat-card-header>
                <mat-card-title>5 คำศัพท์ที่ผิดมากที่สุด</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas id="myPieChart" max-width=200 height="200"></canvas>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
</div>
<app-footer></app-footer>