.mat-icon {
    position: absolute;
    right: 80px;
    top: 25px; 
    font-size: 80px;
    color: #FFFBE4 ;
  }
  .mat-card-title{
    font-size: 32px;
  }
  .mat-card-subtitle{
    font-size: 28px;
    color: aliceblue;
  }
  .cardstat {
    color: aliceblue;
      height: 80px;
      width: 250px;
  }
  .cardgraph{
    height: 450px;
    width: 650px;
  }  
  .cardprogress{
    height: 300px;
    width: 250px;
  } 
  .header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  .mat-grid-list{
    margin-bottom: 20px;
  }
  