.mat-icon {
    position: absolute;
    right: 80px;
    top: 25px; 
    font-size: 80px;
    color: #FFFBE4 ;
  }
  .mat-card-title{
    font-family: Roboto,'Prompt', sans-serif;
    font-size: 32px;
  }
  .mat-card-subtitle{
    font-size: 28px;
    color: aliceblue;
  }
  .cardstat {
    color: aliceblue;
      height: 80%;
      width: 80%;
  }
  .cardgraph{
    height: 90%;
    width: 90%;
  }  
  .cardprogress{
    height: 80%;
    width: 80%;
  } 
  .header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
.container{
  margin-top: 80px;
}
  